.main {
    padding: 6rem;
    min-height: 100vh;
    width: 100%;
    /* background-color: var(--background-color); */
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.heading {
    margin-bottom: 2rem;
    text-shadow: 1px 1px 2px cornflowerblue;
}

.fulllTimeContainer, .averageTimeContainer {
    width: 60%;
    font-size: 1.5rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* gap: 1rem; */
}

.fullTimeText, .averageTimeText {
    font-weight: bold;
}

.fullTimeValue, .averageTimeValue {
    font-family: monospace;
    font-weight: bold;
}

.buttonAddCheckpoint, .buttonStart, .buttonStop {
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 5px;
    width: 20rem;
    text-align: center;
    text-shadow: 2px 2px 3px black;
    box-shadow: 5px 5px 7px black;
    font-weight: 700;
    color: rgb(249, 180, 6);
    color: black;
    color: white;
    cursor: pointer;
}

.buttonAddCheckpoint {
    background-color: darkgray;
    background-color: blue;
    background-color: cornflowerblue;
    /* background-color: lightskyblue; */
}

.buttonAddCheckpoint:hover {
    /* background-color: orange; */
}

.buttonAddCheckpoint:active {
    background-color: rgb(44, 107, 224);
}

.checkpointsGrid {
    /* flex-grow: 1; */
    margin-top: 2rem;
    padding: 0.5rem;
    width: 100%;
    /* min-height: 5rem; */
    background-color: whitesmoke;
    background-color: white;
    /* background-color: yellow; */
    border-radius: 5px;
    box-shadow: 5px 5px 7px black;

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: calc(50%-0.5rem) calc(50%-0.5rem);
    column-gap: 1rem;
}

.gridHeader {
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    /* background-color: var(--lightgreen); */
    /* grid-area: header; */
}

.headerLeft {
    /* grid-area: headerLeft; */
}

.headerRight {
    /* grid-area: headerRight; */
}

.buttonsContainer {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.buttonStart {
    margin-right: 1rem;
    background-color: rgb(34, 203, 34);
}

.buttonStart:active {
    background-color: rgb(24, 123, 24);
}

.buttonStop {
    margin-left: 1rem;
    background-color: rgb(253, 89, 89);
    background-color: rgb(255, 105, 97);
}

.buttonStop:Active {
    background-color: rgb(225, 38, 28);
}

@media (width < 977px) {
    .main {
        padding: 3rem;
    }

    .fulllTimeContainer, .averageTimeContainer {
        width: 100%;
        justify-content: space-between;
    }

    .buttonAddCheckpoint {
        width: 100%;
    }

    .checkpoints {
        /* width: 80%; */
    }

    .buttonsContainer {
        /* width: 80%; */
    }
}

@media (width < 650px) {
    .main {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .fulllTimeContainer, .averageTimeContainer {
        font-size: 1rem;
    }
}

@media (width < 400px) {
    .main {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}